.gradle/
build/
**/build/

local.properties

.idea/
*.iml

*.log

captures/
outputs/

*.jks
*.keystore

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

obj/

.kotlinc/

*.kotlin_module

.DS_Store
Thumbs.db

*.tmp
*.temp

secret.properties
*.env

openai_api_key.txt
openai.properties

crashlytics.properties
crashlytics-build.properties